In [1]:
from datetime import datetime, timedelta
date_string='May 9 2017 9:00AM'
date_=datetime.strptime(date_string,'%B %d %Y %I:%M%p')
date_now = date_+timedelta(hours=1)

In [2]:
date_now

datetime.datetime(2017, 5, 9, 10, 0)

In [3]:
date_now.strftime('%Y-%m-%d')

'2017-05-09'

In [5]:
startDate = '2017-01-01'
endDate = '2017-01-03'


current_day = datetime.strptime(startDate, '%Y-%m-%d')

In [6]:
current_day

datetime.datetime(2017, 1, 1, 0, 0)

In [7]:
start_date = datetime.strptime(startDate, '%Y-%m-%d')
end_date = datetime.strptime(endDate, '%Y-%m-%d')

In [8]:
while  current_day<=end_date:
    print(current_day.strftime('%Y-%m-%d %H:%M:%S'))
    current_day+=timedelta(hours=1)

2017-01-01 00:00:00
2017-01-01 01:00:00
2017-01-01 02:00:00
2017-01-01 03:00:00
2017-01-01 04:00:00
2017-01-01 05:00:00
2017-01-01 06:00:00
2017-01-01 07:00:00
2017-01-01 08:00:00
2017-01-01 09:00:00
2017-01-01 10:00:00
2017-01-01 11:00:00
2017-01-01 12:00:00
2017-01-01 13:00:00
2017-01-01 14:00:00
2017-01-01 15:00:00
2017-01-01 16:00:00
2017-01-01 17:00:00
2017-01-01 18:00:00
2017-01-01 19:00:00
2017-01-01 20:00:00
2017-01-01 21:00:00
2017-01-01 22:00:00
2017-01-01 23:00:00
2017-01-02 00:00:00
2017-01-02 01:00:00
2017-01-02 02:00:00
2017-01-02 03:00:00
2017-01-02 04:00:00
2017-01-02 05:00:00
2017-01-02 06:00:00
2017-01-02 07:00:00
2017-01-02 08:00:00
2017-01-02 09:00:00
2017-01-02 10:00:00
2017-01-02 11:00:00
2017-01-02 12:00:00
2017-01-02 13:00:00
2017-01-02 14:00:00
2017-01-02 15:00:00
2017-01-02 16:00:00
2017-01-02 17:00:00
2017-01-02 18:00:00
2017-01-02 19:00:00
2017-01-02 20:00:00
2017-01-02 21:00:00
2017-01-02 22:00:00
2017-01-02 23:00:00
2017-01-03 00:00:00

In [21]:
hourly_stats = {}
total_amount = 0
with open( '../data/data_no_header.txt', 'r' ) as f:
    for line in f:
        line = line.strip().split('\t')
        date_string = line[1]
        date_datetime = datetime.strptime( date_string, '%d.%m.%Y %H:%M' )
        hour = date_datetime.hour
        try:
            hourly_stats[hour]+=1
        except:
            hourly_stats[hour]=1
        total_amount += 1
print(hourly_stats[19])

12

In [22]:
total_sum_amount = 0
for hour, number_of_orders in hourly_stats.items():
    hourly_stats[ hour ] = number_of_orders / total_amount
    print(hourly_stats[hour])

0.05442176870748299
0.03741496598639456
0.027210884353741496
0.047619047619047616
0.027210884353741496
0.027210884353741496
0.04421768707482993
0.05102040816326531
0.030612244897959183
0.047619047619047616
0.04421768707482993
0.07142857142857142
0.06462585034013606
0.04421768707482993
0.04081632653061224
0.027210884353741496
0.03741496598639456
0.034013605442176874
0.04421768707482993
0.03741496598639456
0.047619047619047616
0.034013605442176874
0.047619047619047616
0.030612244897959183

In [23]:
for value in hourly_stats.values():
    total_sum_amount += value
    print(total_sum_amount)

0.05442176870748299
0.09183673469387754
0.11904761904761904
0.16666666666666666
0.19387755102040816
0.22108843537414966
0.2653061224489796
0.3163265306122449
0.3469387755102041
0.3945578231292517
0.4387755102040816
0.5102040816326531
0.5748299319727891
0.6190476190476191
0.6598639455782314
0.6870748299319729
0.7244897959183675
0.7585034013605444
0.8027210884353744
0.840136054421769
0.8877551020408165
0.9217687074829934
0.9693877551020411
1.0000000000000002

In [25]:
print( '{:.2%}'.format( total_sum_amount ) )

100.00%

In [27]:
hourly_stats = {}
total_amount = 0
with open( '../data/data_no_header.txt', 'r' ) as f:
    for line in f:
        line = line.strip().split('\t')
        date_string = line[1]
        date_datetime = datetime.strptime( date_string, '%d.%m.%Y %H:%M' )
        hour = date_datetime.hour
        try:
            hourly_stats[hour]+=1
        except:
            hourly_stats[hour]=1
        total_amount += 1
total_sum_amount = 0
for hour, number_of_orders in hourly_stats.items():
    hourly_stats[ hour ] = number_of_orders / total_amount
for value in hourly_stats.values():
    total_sum_amount += round(value,2)
print(total_sum_amount)
print( '{:.2%}'.format( total_sum_amount ) )

0.9900000000000004
99.00%

In [35]:
Started = True
user_info = {}
user_id_transactions = []
with open( '../data/data_no_header.txt', 'r' ) as f:
    for line in f:      
        line = line.strip().split('\t')      
        # дата транзакции, по максимальному и минимальному значению которой будем считать LT
        dateTime = datetime.strptime( line[1], '%d.%m.%Y %H:%M' )      
        user_id = line[2]
  
        # сумма покупки
        amount_paid = float( line[8].replace(',', '.') )
   
        if Started:
            previous_user_id = user_id
            user_info[previous_user_id]= 1
            user_id_transactions = [[dateTime, amount_paid]]
            Started = False     
        else:
            if user_id == previous_user_id:
                user_info[previous_user_id]+=1
                user_id_transactions.append([dateTime,amount_paid])
            else:
                previous_user_id = user_id
                user_id_transactions = [[dateTime, amount_paid]]
                user_info[previous_user_id] = 1
    print(previous_user_id, user_id_transactions)

1424 [[datetime.datetime(2016, 10, 1, 17, 1), 13.8], [datetime.datetime(2016, 10, 3, 6, 50), 12.8], [datetime.datetime(2016, 10, 4, 5, 27), 17.2], [datetime.datetime(2016, 10, 4, 16, 14), 16.0], [datetime.datetime(2016, 10, 4, 18, 21), 14.2], [datetime.datetime(2016, 10, 5, 23, 33), 19.6], [datetime.datetime(2016, 10, 6, 7, 27), 22.4], [datetime.datetime(2016, 10, 7, 3, 1), 14.8], [datetime.datetime(2016, 10, 7, 16, 8), 13.0], [datetime.datetime(2016, 10, 7, 16, 12), 13.6], [datetime.datetime(2016, 10, 8, 12, 41), 12.6], [datetime.datetime(2016, 10, 8, 15, 26), 19.2], [datetime.datetime(2016, 10, 8, 17, 21), 20.2], [datetime.datetime(2016, 10, 9, 8, 0), 16.0], [datetime.datetime(2016, 10, 10, 1, 24), 11.6]]

In [51]:
def LT_calculation(uid_transactions):
    first_order = uid_transactions[0]
    lat_order = uid_transactions[-1]
    first_order_date = first_order[0]
    last_order_date = first_order[0]
    return (last_order_date-first_order_date).days

In [52]:
Started = True
user_info = {}
user_id_transactions = []
total = 0
with open( '../data/data_no_header.txt', 'r' ) as f:
    for line in f:      
        line = line.strip().split('\t')      
        # дата транзакции, по максимальному и минимальному значению которой будем считать LT
        dateTime = datetime.strptime( line[1], '%d.%m.%Y %H:%M' )      
        user_id = line[2]
  
        # сумма покупки
        amount_paid = float( line[8].replace(',', '.') )
   
        if Started:
            previous_user_id = user_id
            user_id_transactions = [[dateTime, amount_paid]]
            Started = False     
        else:
            if user_id == previous_user_id:
                user_id_transactions.append([dateTime,amount_paid])
            else:
                total = LT_calculation(user_id_transactions)
                print(previous_user_id, total)
                previous_user_id = user_id
                user_id_transactions = [[dateTime, amount_paid]]

1010 0
1036 0
1041 0
1042 0
1047 0
1052 0
1057 0
1062 0
1067 0
1078 0
1085 0
1096 0
1098 0
1100 0
1105 0
1108 0
1111 0
1112 0
1113 0
1114 0
1116 0
1118 0
1123 0
1128 0
1134 0
1135 0
1136 0
1140 0
1141 0
1145 0
1149 0
1150 0
1154 0
1159 0
1164 0
1167 0
1175 0
1181 0
1182 0
1193 0
1198 0
1201 0
1203 0
1207 0
1208 0
1209 0
1213 0
1218 0
1219 0
1223 0
1224 0
1226 0
1228 0
1230 0
1233 0
1236 0
1238 0
1242 0
1243 0
1246 0
1248 0
1252 0
1253 0
1258 0
1263 0
1267 0
1268 0
1269 0
1270 0
1273 0
1274 0
1278 0
1279 0
1281 0
1283 0
1288 0
1291 0
1293 0
1294 0
1296 0
1298 0
1300 0
1302 0
1303 0
1308 0
1313 0
1315 0
1318 0
1320 0
1323 0
1328 0
1330 0
1331 0
1332 0
1333 0
1334 0
1343 0
1350 0
1351 0
1353 0
1354 0
1355 0
1359 0
1362 0
1363 0
1364 0
1366 0
1367 0
1371 0
1372 0
1374 0
1377 0
1380 0
1382 0
1383 0
1386 0
1387 0
1388 0
1392 0
1393 0
1394 0
1397 0
1398 0